___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [103]:
import pandas as pd
#loading file
ri=pd.read_csv('police.csv')
#deleting unnecessary columns
ri.drop(['county_name','state'], axis=1, inplace=True)
#dropping rows
ri.dropna(subset=['driver_gender'], inplace=True)
#combining columns and fixing dtype
ri['stop_datetime']=ri['stop_date']+' '+ri['stop_time']
ri['stop_datetime'] =  pd.to_datetime(ri['stop_datetime'])
#changing index type
ri = ri.set_index('stop_datetime')

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (8,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [104]:
ri.head()

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,NaN,NaN,600,M,1985.0,20.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,NaN,NaN,500,M,1987.0,18.0,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,2005-01-04,12:55,Zone X4,NaN,NaN,500,M,1986.0,19.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,2005-01-06,01:30,Zone X4,NaN,NaN,500,M,1978.0,27.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,2005-01-12,08:05,Zone X1,NaN,NaN,0,M,1973.0,32.0,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

In [105]:
ri.shape

(480584, 24)

In [106]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 480584 entries, 2005-01-02 01:55:00 to 2015-12-31 23:48:00
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     480584 non-null  object
 1   stop_date              480584 non-null  object
 2   stop_time              480584 non-null  object
 3   location_raw           480584 non-null  object
 4   county_fips            0 non-null       float64
 5   fine_grained_location  0 non-null       float64
 6   police_department      480584 non-null  object
 7   driver_gender          480584 non-null  object
 8   driver_age_raw         480583 non-null  float64
 9   driver_age             478946 non-null  float64
 10  driver_race_raw        480584 non-null  object
 11  driver_race            480584 non-null  object
 12  violation_raw          480584 non-null  object
 13  violation              480584 non-null  object
 14  search_conducted       480584 non-null  object
 15  search_type_raw        17762 non-null   object
 16  search_type            17762 non-null   object
 17  contraband_found       480584 non-null  bool
 18  stop_outcome           480584 non-null  object
 19  is_arrested            480584 non-null  object
 20  stop_duration          480584 non-null  object
 21  out_of_state           479776 non-null  object
 22  drugs_related_stop     480584 non-null  bool
 23  district               480584 non-null  object
dtypes: bool(2), float64(4), object(18)
memory usage: 85.2+ MB

In [107]:
ri.isnull().sum()

id                            0
stop_date                     0
stop_time                     0
location_raw                  0
county_fips              480584
fine_grained_location    480584
police_department             0
driver_gender                 0
driver_age_raw                1
driver_age                 1638
driver_race_raw               0
driver_race                   0
violation_raw                 0
violation                     0
search_conducted              0
search_type_raw          462822
search_type              462822
contraband_found              0
stop_outcome                  0
is_arrested                   0
stop_duration                 0
out_of_state                808
drugs_related_stop            0
district                      0
dtype: int64

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [108]:
ri.violation.unique()

array(['Speeding', 'Equipment', 'Other', 'Moving violation',
       'Registration/plates', 'Seat belt'], dtype=object)

In [109]:
ri.violation.nunique()

6

In [16]:
ri.groupby('violation')['id'].count()

violation
Equipment               61250
Moving violation        90228
Other                   24216
Registration/plates     19830
Seat belt               16324
Speeding               268736
Name: id, dtype: int64

In [ ]:
# More practical with value_counts method !
# DataFrame.value_counts(subset=None, normalize=False, sort=True, ascending=False)

In [17]:
# violations committed by all drivers :
ri.violation.value_counts()

Speeding               268736
Moving violation        90228
Equipment               61250
Other                   24216
Registration/plates     19830
Seat belt               16324
Name: violation, dtype: int64

In [18]:
# violation counts as proportions of the total:
ri.violation.value_counts(normalize=True)

Speeding               0.559186
Moving violation       0.187747
Equipment              0.127449
Other                  0.050389
Registration/plates    0.041262
Seat belt              0.033967
Name: violation, dtype: float64

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [24]:
df_f = ri[ri['driver_gender']=='F']
df_f.tail()

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2015-12-31 21:59:00,RI-2015-47051,2015-12-31,21:59,Zone K3,300,F,1994.0,21.0,W,White,Speeding,Speeding,False,False,Citation,False,0-15 Min,False,False,Zone K3
2015-12-31 22:09:00,RI-2015-47054,2015-12-31,22:09,Zone K3,300,F,1992.0,23.0,H,Hispanic,Equipment/Inspection Violation,Equipment,False,False,Warning,False,0-15 Min,False,False,Zone K3
2015-12-31 22:10:00,RI-2015-47055,2015-12-31,22:10,Zone X4,300,F,1989.0,26.0,L,Hispanic,Other Traffic Violation,Moving violation,False,False,Warning,False,0-15 Min,False,False,Zone X4
2015-12-31 22:10:00,RI-2015-47056,2015-12-31,22:10,Zone X4,300,F,1989.0,26.0,L,Hispanic,Other Traffic Violation,Moving violation,False,False,Arrest Driver,True,0-15 Min,False,False,Zone X4
2015-12-31 22:39:00,RI-2015-47060,2015-12-31,22:39,Zone K3,300,F,1976.0,39.0,W,White,Other Traffic Violation,Moving violation,False,False,Citation,False,16-30 Min,True,False,Zone K3

In [35]:
df_f.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 131138 entries, 2005-02-24 01:20:00 to 2015-12-31 22:39:00
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  131138 non-null  object
 1   stop_date           131138 non-null  object
 2   stop_time           131138 non-null  object
 3   location_raw        131138 non-null  object
 4   police_department   131138 non-null  object
 5   driver_gender       131138 non-null  object
 6   driver_age_raw      131137 non-null  float64
 7   driver_age          130828 non-null  float64
 8   driver_race_raw     131138 non-null  object
 9   driver_race         131138 non-null  object
 10  violation_raw       131138 non-null  object
 11  violation           131138 non-null  object
 12  search_conducted    131138 non-null  object
 13  contraband_found    131138 non-null  bool
 14  stop_outcome        131138 non-null  object
 15  is_arrested         131138 non-null  object
 16  stop_duration       131138 non-null  object
 17  out_of_state        130958 non-null  object
 18  drugs_related_stop  131138 non-null  bool
 19  district            131138 non-null  object
dtypes: bool(2), float64(2), object(16)
memory usage: 19.3+ MB

In [23]:
df_m = ri[ri['driver_gender']=='M']
df_m.head()

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,False,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,2005-01-04,12:55,Zone X4,500,M,1986.0,19.0,W,White,Equipment/Inspection Violation,Equipment,False,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,2005-01-06,01:30,Zone X4,500,M,1978.0,27.0,B,Black,Equipment/Inspection Violation,Equipment,False,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,2005-01-12,08:05,Zone X1,0,M,1973.0,32.0,B,Black,Call for Service,Other,False,False,Citation,False,30+ Min,True,False,Zone X1

In [30]:
print('Total # of Female Violations :'
      ,'------------------------------'
      ,df_f.violation.value_counts()
      ,'------------------------------',sep='\n')
print('Proportions of Female Violations:'
      ,'------------------------------'
      ,df_f.violation.value_counts(normalize=True),sep='\n')

Total # of Female Violations :
------------------------------
Speeding               86198
Moving violation       17911
Equipment              14039
Registration/plates     5649
Other                   3791
Seat belt               3550
Name: violation, dtype: int64
------------------------------
Proportions of Female Violations:
------------------------------
Speeding               0.657308
Moving violation       0.136581
Equipment              0.107055
Registration/plates    0.043077
Other                  0.028908
Seat belt              0.027071
Name: violation, dtype: float64

In [31]:
print('Total # of Male Violations :'
      ,'----------------------------'
      ,df_m.violation.value_counts()
      ,'----------------------------',sep='\n')
print('Proportions of Male Violations:'
      ,'----------------------------'
      ,df_m.violation.value_counts(normalize=True),sep='\n')

Total # of Male Violations :
----------------------------
Speeding               182538
Moving violation        72317
Equipment               47211
Other                   20425
Registration/plates     14181
Seat belt               12774
Name: violation, dtype: int64
----------------------------
Proportions of Male Violations:
----------------------------
Speeding               0.522364
Moving violation       0.206948
Equipment              0.135102
Other                  0.058450
Registration/plates    0.040581
Seat belt              0.036555
Name: violation, dtype: float64

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [68]:
df_f_s = ri[(ri['driver_gender']=='F') & (ri['violation']=='Speeding')]
df_f_s.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 86198 entries, 2005-02-24 01:20:00 to 2015-12-31 21:59:00
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  86198 non-null  object
 1   stop_date           86198 non-null  object
 2   stop_time           86198 non-null  object
 3   location_raw        86198 non-null  object
 4   police_department   86198 non-null  object
 5   driver_gender       86198 non-null  object
 6   driver_age_raw      86198 non-null  float64
 7   driver_age          86028 non-null  float64
 8   driver_race_raw     86198 non-null  object
 9   driver_race         86198 non-null  object
 10  violation_raw       86198 non-null  object
 11  violation           86198 non-null  object
 12  search_conducted    86198 non-null  object
 13  contraband_found    86198 non-null  bool
 14  stop_outcome        86198 non-null  object
 15  is_arrested         86198 non-null  object
 16  stop_duration       86198 non-null  object
 17  out_of_state        86098 non-null  object
 18  drugs_related_stop  86198 non-null  bool
 19  district            86198 non-null  object
dtypes: bool(2), float64(2), object(16)
memory usage: 12.7+ MB

In [37]:
df_m_s = ri[(ri['driver_gender']=='M') & (ri['violation']=='Speeding')]
df_m_s.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 182538 entries, 2005-01-02 01:55:00 to 2015-12-31 23:44:00
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  182538 non-null  object
 1   stop_date           182538 non-null  object
 2   stop_time           182538 non-null  object
 3   location_raw        182538 non-null  object
 4   police_department   182538 non-null  object
 5   driver_gender       182538 non-null  object
 6   driver_age_raw      182538 non-null  float64
 7   driver_age          182163 non-null  float64
 8   driver_race_raw     182538 non-null  object
 9   driver_race         182538 non-null  object
 10  violation_raw       182538 non-null  object
 11  violation           182538 non-null  object
 12  search_conducted    182538 non-null  object
 13  contraband_found    182538 non-null  bool
 14  stop_outcome        182538 non-null  object
 15  is_arrested         182538 non-null  object
 16  stop_duration       182538 non-null  object
 17  out_of_state        182325 non-null  object
 18  drugs_related_stop  182538 non-null  bool
 19  district            182538 non-null  object
dtypes: bool(2), float64(2), object(16)
memory usage: 26.8+ MB

In [44]:
df_m_s[['stop_outcome']]

                    stop_outcome
stop_datetime
2005-01-02 01:55:00     Citation
2005-01-02 20:30:00     Citation
2005-01-18 08:15:00     Citation
2005-01-23 23:15:00     Citation
2005-01-24 20:32:00     Citation
...                          ...
2015-12-31 20:50:00     Citation
2015-12-31 21:42:00     Citation
2015-12-31 22:26:00     Citation
2015-12-31 22:46:00     Citation
2015-12-31 23:44:00     Citation

[182538 rows x 1 columns]

In [45]:
df_m_s['stop_outcome'].unique()

array(['Citation', 'Arrest Driver', 'Warning', 'No Action',
       'Arrest Passenger', 'N/D'], dtype=object)

In [48]:
df_f_s.stop_outcome.value_counts()

Citation            82168
Warning              3362
Arrest Driver         456
Arrest Passenger       89
N/D                    78
No Action              45
Name: stop_outcome, dtype: int64

In [49]:
print('Proportions of Female Speeding Outcomes:'
      ,'----------------------------------------'
      ,df_f_s.stop_outcome.value_counts(normalize=True),sep='\n')

Proportions of Female Speeding Outcomes:
----------------------------------------
Citation            0.953247
Warning             0.039003
Arrest Driver       0.005290
Arrest Passenger    0.001033
N/D                 0.000905
No Action           0.000522
Name: stop_outcome, dtype: float64

In [50]:
df_m_s.stop_outcome.value_counts()

Citation            172432
Warning               6587
Arrest Driver         2878
Arrest Passenger       231
N/D                    216
No Action              194
Name: stop_outcome, dtype: int64

In [52]:
print('Proportions of Male Speeding Outcomes:'
      ,'--------------------------------------'
      ,df_m_s.stop_outcome.value_counts(normalize=True),sep='\n')

Proportions of Male Speeding Outcomes:
--------------------------------------
Citation            0.944636
Warning             0.036086
Arrest Driver       0.015767
Arrest Passenger    0.001265
N/D                 0.001183
No Action           0.001063
Name: stop_outcome, dtype: float64

Observation : There is no evidence that gender has an impact on whether the driver will receive a ticket or a warning, the proportions are very close (but still need to supported by hypothesis testing)

***

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [66]:
ri['search_conducted'].unique()

array([False, True], dtype=object)

In [61]:
ri['search_conducted'].dtype

dtype('O')

In [89]:
ri['search_conducted']=ri['search_conducted'].astype('bool')

In [90]:
ri['search_conducted'].dtype

dtype('bool')

In [56]:
ri['search_conducted'].value_counts()

False    462822
True      17762
Name: search_conducted, dtype: int64

In [62]:
ri['search_conducted'].value_counts(normalize=True)

False    0.963041
True     0.036959
Name: search_conducted, dtype: float64

In [65]:
ri['search_conducted'].mean()

0.036959199640437465

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [75]:
ri[(ri['driver_gender']=='F')]['search_conducted'].mean()

0.018751239152648355

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [83]:
ri[(ri['driver_gender']=='M')]['search_conducted'].mean()

0.04379217389811301

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [91]:
ri.groupby('driver_gender')['search_conducted'].mean()

driver_gender
F    0.018751
M    0.043792
Name: search_conducted, dtype: float64

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [95]:
ri.groupby(['driver_gender','violation'])['search_conducted'].agg('mean')

driver_gender  violation
F              Equipment              0.040245
               Moving violation       0.038021
               Other                  0.045898
               Registration/plates    0.054700
               Seat belt              0.017746
               Speeding               0.007738
M              Equipment              0.070916
               Moving violation       0.059156
               Other                  0.046120
               Registration/plates    0.103589
               Seat belt              0.031705
               Speeding               0.026630
Name: search_conducted, dtype: float64

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [96]:
ri.groupby(['violation','driver_gender'])['search_conducted'].agg('mean')

violation            driver_gender
Equipment            F                0.040245
                     M                0.070916
Moving violation     F                0.038021
                     M                0.059156
Other                F                0.045898
                     M                0.046120
Registration/plates  F                0.054700
                     M                0.103589
Seat belt            F                0.017746
                     M                0.031705
Speeding             F                0.007738
                     M                0.026630
Name: search_conducted, dtype: float64

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

In [116]:
# Syntax: Series.str.contains(pat, case=True, flags=0, na=nan, regex=True)


ri['frisk']=ri['search_type'].str.contains('Protective Frisk', na=False)

In [117]:
ri['frisk'].dtype

dtype('bool')

In [124]:
ri['frisk'].value_counts()

False    478986
True       1598
Name: frisk, dtype: int64

In [122]:
ri[ri['frisk']==True]['search_type'].value_counts()

Protective Frisk                                            879
Probable Cause,Protective Frisk                             221
Incident to Arrest,Protective Frisk                         158
Protective Frisk,Reasonable Suspicion                        83
Incident to Arrest,Inventory,Protective Frisk                77
Incident to Arrest,Probable Cause,Protective Frisk           74
Inventory,Protective Frisk                                   52
Probable Cause,Protective Frisk,Reasonable Suspicion         31
Inventory,Probable Cause,Protective Frisk                    14
Incident to Arrest,Protective Frisk,Reasonable Suspicion      8
Inventory,Protective Frisk,Reasonable Suspicion               1
Name: search_type, dtype: int64

In [125]:
ri['frisk'].sum()

1598

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [130]:
ri_Search = ri[ri['search_conducted']==True]

In [132]:
ri_Search['frisk'].mean()

0.08996734601959239

In [133]:
ri_Search.groupby('driver_gender')['frisk'].mean()

driver_gender
F    0.066694
M    0.093707
Name: frisk, dtype: float64